/* page heading */
h1{
    font-family: 'Audiowide';
    color:white;
    font-size: 40px;
    box-shadow: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: darkslategray;
}
/* div that houses the album image */
.playerContainer{
    background-color:black;
    border-radius: 30px;
    padding: 20px;
    margin-top: 50px;
    
    animation: rotate 8s linear infinite;
    animation-play-state: paused;
  
}
/* adding the "play" class to inject with JS to start animation */
.playerContainer.play img{
    border-radius: 50%;
    width:250px;
    height:250px;
    position: relative;
    animation: rotate 8s linear infinite;
    animation-play-state: running;
}

/* specifying the height and width to ensure all images are same size */
.playerContainer img{
    max-width: 338px;
    max-height: 250px;
}

/* h3 that houses the current song being played */
#trackName{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: black;
    border-radius: 30px;
    width: auto;
    padding: 20px;
    text-decoration: underline;
    
}

/* the div that houses the buttons */
.playerControls{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 15%;
}

/* style for the back and next buttons */
.btn{
    background-color: black;
    color: white;
    border-radius: 50%;
    border: 0;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.btn:focus {
    outline: 0;
  }
  
.btnLarge:focus {
    outline: 0;
  }

  /* style for the large play button */
.btnLarge{
    background-color: black;
    color: white;
    border-radius: 50%;
    border: 0;
    font-size: 35px;
    cursor: pointer;
    padding: 20px;
    margin: 0 20px;
}

/* adding hover to the buttons */
#play:hover{
    color:red;

}

#back:hover{
    color:red;
}

#next:hover{
    color:red;
}

/* key frames for rotation of image */
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

